<div>
  <div class="button-group">
    <button id="setFontSizeS">{{ 'S'|trans }}</button>
    <button id="setFontSizeM">{{ 'M'|trans }}</button>
    <button id="setFontSizeL">{{ 'L'|trans }}</button>
    <button id="setFontSizeXL">{{ 'XL'|trans }}</button>
    <button id="setFontSizeXXL">{{ 'XXL'|trans }}</button>
  </div>
</div>

{{ attach_library('ohano_appearance/font-size-switch') }}
