<div class="block-inner">
  <div class="color-shade-switch dropdown">
    <button class="dropdown-base">{{ "Color shade"|trans }}</button>
    <div class="dropdown-content">
      <button id="setColorShadeSlate" class="dropdown-item">{{ 'Slate'|trans }}</button>
      <button id="setColorShadeGray" class="dropdown-item">{{ 'Gray'|trans }}</button>
      <button id="setColorShadeZinc" class="dropdown-item">{{ 'Zinc'|trans }}</button>
      <button id="setColorShadeNeutral" class="dropdown-item">{{ 'Neutral'|trans }}</button>
      <button id="setColorShadeStone" class="dropdown-item">{{ 'Stone'|trans }}</button>
    </div>
  </div>
</div>

{{ attach_library('ohano_appearance/color-shade-switch') }}
