<div class="block-inner">
  <div class="button-group">
    <button id="setColorShadeSlate">{{ 'Slate'|trans }}</button>
    <button id="setColorShadeGray">{{ 'Gray'|trans }}</button>
    <button id="setColorShadeZinc">{{ 'Zinc'|trans }}</button>
    <button id="setColorShadeNeutral">{{ 'Neutral'|trans }}</button>
    <button id="setColorShadeStone">{{ 'Stone'|trans }}</button>
  </div>
</div>

{{ attach_library('ohano_appearance/color-shade-switch') }}
