<div>
  <div class="font-size-switch dropdown">
    <button class="dropdown-base">{{ "Font size"|trans }}</button>
    <div class="dropdown-content">
      <button id="setFontSizeXXS" class="dropdown-item">{{ 'XXS'|trans }}</button>
      <button id="setFontSizeXS" class="dropdown-item">{{ 'XS'|trans }}</button>
      <button id="setFontSizeS" class="dropdown-item">{{ 'S'|trans }}</button>
      <button id="setFontSizeM" class="dropdown-item">{{ 'M'|trans }}</button>
      <button id="setFontSizeL" class="dropdown-item">{{ 'L'|trans }}</button>
      <button id="setFontSizeXL" class="dropdown-item">{{ 'XL'|trans }}</button>
      <button id="setFontSizeXXL" class="dropdown-item">{{ 'XXL'|trans }}</button>
    </div>
  </div>
</div>

{{ attach_library('ohano_appearance/font-size-switch') }}
