<div class="profile-block">
  <div class="profile-block-inner{% if profile_picture %} has-profile-picture{% endif %}">
    <div class="profile-row">
      {% if profile_picture %}
        <div class="profile-picture-wrapper">
          {{ profile_picture }}
        </div>
      {% endif %}
      <div class="profile-info-wrapper">
        <div class="profile-name-outer">
          <span class="profile-name">{{ profile_name }}</span>
        </div>
        <div class="row row-cols-1">
          <div class="button-group">
            <a class="button" href="{{ path('ohano_profile.profile.self') }}" title="{{ "View"|trans }}">
              <i class="fa fa-eye"></i>
              <div class="visually-hidden focusable">{{ "View"|trans }}</div>
            </a>
            <a class="button" href="{{ path('ohano_profile.edit', {'profileName': profile_name}) }}" title="{{ "Edit"|trans }}">
              <i class="fa fa-pen"></i>
              <div class="visually-hidden focusable">{{ "Edit"|trans }}</div>
            </a>
            <a class="button" href="#" title="{{ "Settings"|trans }}">
              <i class="fa fa-cog"></i>
              <div class="visually-hidden focusable">{{ "Settings"|trans }}</div>
            </a>
            <a class="button" href="{{ path('user.logout') }}" title="{{ "Logout"|trans }}">
              <i class="fa fa-door-open"></i>
              <div class="visually-hidden focusable">{{ "Logout"|trans }}</div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="profile-actions-wrapper">
      <div class="col col-12">
        {% if other_profiles %}
          <div class="profile-switch dropdown">
            <button class="dropdown-base">{{ "Switch profile"|trans }}</button>
            <div class="dropdown-content">
              {% for other_profile in other_profiles %}
                <a class="dropdown-item button" href="{{ path('ohano_profile.switch', {'profileName': other_profile}) }}">{{ other_profile }}</a>
              {% endfor %}
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
