<a class="statistic-link{% if single %} single{% endif %}" href="{% if link %}{{ path(link) }}{% else %}#{% endif %}">
  <div class="statistic">
    {% if name %}
      <div class="head">
        {{ name }}
      </div>
    {% endif %}
    <div class="body">
      {% if before %}
        <div class="before">
          {{ before }}
        </div>
      {% endif %}
      <div class="value">
        {{ value }}
      </div>
      {% if after %}
        <div class="after">
          {{ after }}
        </div>
      {% endif %}
    </div>
  </div>
</a>
